@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




/* Reset some default styles */
h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    justify-content: space-between;
    flex-direction: column;
}

body {
    background-color: #F2F5F9;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /*centra el contenido verticalmente*/
}

.contenedor-imagenes {
    position: relative;
    width: 100%; /* Ajusta al tamaño deseado */
    height: 100%; /* Ajusta al tamaño deseado */
    overflow: hidden; /* Opcional: para evitar que las imágenes sobresalgan del contenedor */
    
}

.contenedor-imagenes img {
    display: block; /* Elimina el espacio extra debajo de las imágenes */
    width: 100%; /* Ajusta esto según necesites */
    height: auto; /* Ajusta esto para mantener la proporción de aspecto */
    border-radius:10px;

}

.contenedor-imagenes .imagen-superpuesta {
    position: absolute;
    top: 78%; /* Ajusta la distancia desde la parte superior del contenedor */
    left: 0; /* Ajusta la distancia desde el lado izquierdo del contenedor */
    width: auto; /* O ajusta según necesites */
    height: auto; /* O ajusta según necesites */
    opacity: 1; /* Opcional: para efecto de transparencia */
}


.card{
    background-color: white;
    width: 400px;
    border-radius: 10px;
}

.title{   /* titulo semi bold */
    color: #111729;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    padding-inline: 2rem;
    padding-top: 1rem;
}

.description{
    color: #677489;
    font-size: medium;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding-inline: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.linea-horizontal {
    border-top: 1px solid #e7e7e7; /* Espesor y color de la línea */
    width: 100%; /* Ancho de la línea */
}

.contenedor-pie{
    display: flex;
    padding-inline: 2rem;
    padding-block: 1rem;
}
.contenedor-texto-pie{
    color: #111729;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 8px;
    padding-inline: 1rem;

}

.avatar-img{
    border-radius: 100%;
    width: 2rem;

}
